.env
node_modules
dist
package-lock.json
database.sqlite
infrastructure/.terraform
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfvars
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform.tfstate.lock.info