<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>Task Managment</h1>
    <p>This simple app helps you to manage and organise your tasks in one place </p>
    <p>Click <a href="/login">here</a> to login or if you are not yet registered please <a href="/signup">signup</a></p>
  </body>
</html>
